body {
  background-image: url(./2вариант.png);
  /* background-color: red; */
}
.product-block {
  width: 500px;
  margin: auto;
  text-align: center;
  font-family: "Marck Script", cursive;
}
#wrapper {
  opacity: 0.7;
  margin-bottom: 10%;
  margin-top: 10%;
}
.form-control {
  color: black;
  margin-bottom: 5%;
  text-align: center;
  font-size: large;
}
.form-control::placeholder {
  color: black;
  opacity: 1;
  font-weight: 700;
}
.form-control:hover {
  background-color: black;
  color: white;
}
.form-control:hover::placeholder {
  background-color: black;
  color: white;
}

.btn-outline-success {
  width: 25%;
  height: 15%;
}

.navbar {
  background-color: #839290;
  background-image: linear-gradient(
    160deg,
    #839290 0%,
    #9d6936 100%
  ) !important;
  border-radius: 20px;
}
.me-2 {
  opacity: 0.6;
  background: #322e1e0c; /* Цвет фона */
  padding: 5px;
  border: 1px solid black;
}
#form-nav {
  align-items: center;
}
#search-nav {
  margin: auto;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 18rem;
  margin: 5%;
}
.card-img-top {
  height: -webkit-fill-available;
}
